.about{
    background-color: #1abc9c;
    padding: 5% 0;
}
.about h5{
    width: 20%;
    margin-bottom: 30px;
}
.btnn{
    border: 2px white solid;
    background-color: #1abc9c;
    color: white;
    border-radius: 7px;
}
.btnn:hover{
    background-color: white;
    color: black;
}